@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;  
    background-color:lavenderblush; 
}


.poster{
   max-width: 700px;
   height: auto;
   margin: 0;
   padding: 2rem;
   box-shadow: inset 0px 0px 0px 50px;
  
}
.content{
    font-size: x-large;
}
.center{

    display: block;
    margin-left: auto;
    margin-right:auto;
}

.heading{
    font-size: xx-large;
    padding: 2rem 0.5rem;
}
    
 .heading-main{
     text-align: center;
     margin-top: 3.5rem;
     padding-bottom: 3.5rem;
 }   

 .intermission{
     padding: 5rem 0rem;
     font-size:xx-large;
     font-style: normal;
     color:rebeccapurple;
     
 }

 .intermission-end{

    padding: 1rem 0rem;
    text-align: center;
    font-size: x-large;
    text-align: center;
 }

 
 .link{
    font-weight: bolder;
    text-decoration: none;
    border-radius: 0.5rem;
    border-style: solid;
    background-color: gold;
   padding: 0rem 5rem;
   cursor: -moz-grabbing;
 }



 .list-non-bullet{

    list-style: none;
 }

 .list-item-inline{
    display: inline;
    padding: 0rem 3rem;
}

.description{
    color: 
}